<html>
  <head>
    <title>HOMEPAGE</title>
    <% include ../partials/scripts %>
  </head>
  <body id='showBody' class='animated fadeInDown'>
    <h1 id='username'><%= user.username %>'s Blog</h1>
    <div id='navContainer'>
      <ul>
        <li id='trending'><a href='/blogs'>TRENDING</a></li>
        <% if (!usertrue) { %>
        <li><a href='/users'>HOME</a></li>
        <% } %>
        <% if (usertrue) { %>
        <li id='newPost'>NEW POST</li>
        <li id='editPost' class='off'>EDIT POST</li>
        <li id='deletePost' class='off'>DELETE POST</li>
        <% } %>
        <li id='logmeout'><a href='/users/logout'>LOGOUT</a></li>
      </ul>
      <div id='border'></div>
    </div>
    <div id='postContainer'>
      <div id='containThis'>
      <form id="up-form">
        <input class='uploadButton' type="file">
        <br>
        <button class='button' type="submit">Click To Upload</button>
      </form>
      <form id ='posting' action="/users/<%= user.id %>/newblog" method="POST">
        <input style='border:none' class='ospry' type="text" name="imglink" placeholder="Please Wait......">
        <textarea  class='textbox' name='comments' placeholder='COMMENTS:'></textarea>
        <button class='button'type="submit">Submit
      </form>
      <button id='cancel'>Cancel</button>
      </div>
    </div>
    <div class='blogsContainer'>
    <% for (var i = user.blogs.length-1; i >=0; i--) { %>
        <img class='blogImageSize' src='<%= user.blogs[i].imglink %>'>
        <br>
        <br>
        <p><%= user.blogs[i].comments %></p>
    </div>
    <div class='optionsContainer'>
      <div class='deleteMe'>
        <form action="/users/<%= user.id %>/newblog?_method=DELETE" method="POST">
        <input type="hidden" name="blogs_id" value="<%=user.blogs[i].id%>"/>
        <button class="delete-button">Delete</button>
        </form>
      </div>
      <div class='editMe'>
        <form action="/users/<%= user.id %>?_method=PUT" method="POST">
          <input class='editBox' type="text" name="imglink" value='<%= user.blogs[i].imglink %>'>
          <textarea class='editTextBox' name='comments'  value='<%= user.blogs[i].comments %>'><%= user.blogs[i].comments %></textarea>
          <input type="hidden" name="update_id" value="<%= user.blogs[i].id%>"/>
          <button class='updateButton'>Update</button>
        </form>
      </div>
    </div>
    <% } %>
  </body>
</html>
